# Secret resources
*default.properties
*service-account.json

# compiled output
src/main/resources/static/v2
/tmp
/out-tsc

# dependencies
node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings
*.iml
.gradle
build
out

# System Files
.DS_Store
Thumbs.db

