<pre>
WARNING: `gcloud auth login` no longer writes application default credentials.
If you need to use ADC, see:
gcloud auth application-default --help

You are now logged in as [rcijvat@bol.com].
Your current project is [bolcom-stg].  You can change this setting by running:
$ gcloud config set project PROJECT_ID


Updates are available for some Cloud SDK components.  To install them,
please run:
$ gcloud components update

WARNING: `gcloud auth login` no longer writes application default credentials.
If you need to use ADC, see:
gcloud auth application-default --help

You are now logged in as [rcijvat@bol.com].
Your current project is [bolcom-stg].  You can change this setting by running:
$ gcloud config set project PROJECT_ID


Updates are available for some Cloud SDK components.  To install them,
please run:
$ gcloud components update
</pre>
